extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Kiel Lewis

        p.lead.text-light
          | Full Stack JavaScript Developer.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | My money's in that office, right? If she start giving me some bullshit about it ain't there, and we got to go someplace else and get it, I'm gonna shoot you in the head then and there. Then I'm gonna shoot that bitch in the kneecaps, find out where my goddamn money is. She gonna tell me too. Hey, look at me when I'm talking to you, motherfucker. You listen: we go in there, and that nigga Winston or anybody else is in there, you the first motherfucker to get shot. You understand?

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- At this point, you should be able to list at least ten skills.
        ul
          li HTML
          li CSS
          li Javascript
          li jQuery
          li Regular Expressions
          li Ajax
          
        h6 Contact Info
        ul
          li 407-922-8645
          li kiel.lewis@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/kiel-lewis-67634736/') LinkedIn
        a.button.expanded(href='https://github.com/kal-elthegreat') GitHub
        a.button.expanded(href='https://twitter.com/DevKiel') Twitter
        a.button.expanded(href='https://www.instagram.com/kiel_pbbtrainer/l') Instagram
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  