extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Kiel Lewis

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | My coding journey is still in it's infancy, as a developer I have less than a full years experience. However during this short span I have written several applications (also some personal projects still in the works) which are shown in this portfolio. In the near future I will have completed a 7 month codining program in just over 4 months. While still producing quality work and showing an overall strong understanding of the fundamentals. I hope this portfolio gives some indication of the type of person and programmer I am. I only want to be the best I can be so that I may be able to assist my future dev team to be as successful as possible! 

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li HTML
          li CSS
          li Javascript
          li jQuery
          li Regular Expressions
          li Ajax
          
        h6 Contact Info
        ul
          li 407-922-8645
          li kiel.lewis@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/kiel-lewis-67634736/') LinkedIn
        a.button.expanded(href='https://github.com/kal-elthegreat') GitHub
        a.button.expanded(href='https://twitter.com/DevKiel') Twitter
        a.button.expanded(href='https://www.instagram.com/kiel_pbbtrainer/l') Instagram
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  