extends layout.pug

block content 
  article.grid-container.portfolio-intro
    div
      h1 Future Great Developer Seeking A Great Company

      p.lead.text-light
        | This porfolio is meant to showcase the versatility of my skillset. I want to give a full display of all that I'm capable of as Full Stack JavaScript developer and also shed a little light on who I am as an individual!
  article.grid-container.portfolio-index
    
    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3
      
      each project, index in projects 
        .cell
          a(href='/project'+ index)
            h5 #{projects[index].projectName}
            img.thumbnail(src=`${projects[index].image_urls[0]}`)
      