extends layout.pug

block content 
  article.grid-container.portfolio-intro
    div

      //- Add a title or heading like My Portfolio, or Hey, Potential Employers, or Let's make the web great together! 
      h1 Future Great Developer Seeking A Great Company

      //- Add a description for your portfolio, what this project is, it's purpose, what it's suppossed to accomplish, etc. 
      p.lead.text-light
        | This porfolio is meant to showcase the versatility of my skillset. I want to give a full display of all that I'm capable of as Full Stack JavaScript developer and also shed a little light on who I am as an individual!
  article.grid-container.portfolio-index
    
    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3

      //- Use the Pug `each` iterator to create a projet img, title and link in the markup for each of the projects you are showcasing.  
      
      //- Use a combination of interpolation and template literals as needed to dynamically generate the the routes in the href, as well as the img's src and the projects title.
      
      //- Here's what the Pug for each project example should look like. 
      
    each project, index in projects 
      .cell
        a(href='/project'+ index)
          img.thumbnail(src="#{project[0].image_urls[0]}")
          h5 #{projects[index].projectName} 
      